/*
Description: Styling for the navigation bar
Author: Mark Zsombor
*/

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .fa {
  opacity: 1;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  height: 80px;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar .compose {
  background-color: #98ff98;
  border: 1px solid #000;
  border-radius: 5px;
  float: right;
  font-size: 150%;
  margin: 10px;
  padding: 15px;
}

#nav-bar .compose:hover {
  background-color: #fff;
  color: #000;
}
