
.container {
  background-color: white;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 2em;
}

.new-tweet {
  background-color: #eee;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 8px;
}
.new-tweet h2 {
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  height: 70px;
  max-width: 100%;
  min-width: 100px;
  padding: 5px;
  width: 100%;
}

.new-tweet .counter {
  height: 30px;
  float: right;
  font-size: 90%;
  font-style: italic;
  line-height: 30px;
  padding-right: 5px;
}

form {
  margin-bottom: 2px;
}